<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger:%L - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="InfoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/zhangdi/log/info-%d{yyyy-MM-dd}-%i.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>/Users/zhangdi/log/info/info-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <MaxFileSize>20MB</MaxFileSize>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger:%L - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/zhangdi/log/error-%d{yyyy-MM-dd}-%i.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>/Users/zhangdi/log/error-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <MaxFileSize>20MB</MaxFileSize>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger:%L - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="InfoFile"/>
        <appender-ref ref="ErrorFile"/>
    </root>

</configuration>